button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    background-color: white;
    border-radius: 10px;
    height:40px;
    min-width: 25%;
    margin: 5px  
}
button:hover{
    transform: scale(1.3)
}
input{
    margin: 0px 10px;
}
input::-webkit-input-placeholder {
    color: #b2cde0
 }
input:hover{
    transform: scale(1.1);
}
.page-body{
    display:flex;
    flex-direction:column;
    height: 100vh;
}
.header{
    background-color: lightblue;
    padding: 20px 20px 10px 20px;
    border-bottom: solid 3px rgb(0, 140, 255);
}
.main-body{
    display:flex;
    flex-direction:row;
    height: 100vh;
}
.menu{
    background-color: whitesmoke; 
    padding: 10px;
    border-right: solid 2px grey;
}
.menu:hover{
    background-color: rgb(218, 209, 209); 
}
.menu-buttons{
    display: flex;
    justify-content: space-around;
}
.menu-item{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 5px;
    width: 100%;
}
.content-input{
    height:50px;
}
.item{
    display:flex; 
    flex-direction:column; 
    align-items: end;
}
.display{
    min-width: 50%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    margin: 30px 70px;
    justify-content: start;
    align-items: stretch;
}
.list{
    padding-right: 50px;
}
.todo-item{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding:5px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 12px;
    background-color: white;
}
.todo-item:hover{
    background-color: whitesmoke;
}
.item-checkbox{
    margin-right: 10px;
}
.item-checkbox:checked ~div.todo-item-text > .todo-item-title {
    text-decoration: line-through;
}
.item-checkbox:checked ~div.todo-item-text > .todo-item-content{
    visibility: hidden;
}
.item-checkbox:checked ~div.todo-item-buttons > .item-edit-button {
    visibility: hidden;
}
.todo-item-text{
    display: flex; 
    flex-direction: column;
    align-self: stretch;
}
.todo-item-buttons{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}
.item-edit-button{
    font-family: 'Material Icons';
    font-size: 30px;
    text-align: center;
    color: white;
    width:40px;
    height:40px;
    border-radius: 30%;
    background-color: greenyellow;
    opacity: 1;
    animation: fade 2s linear;
}
.item-edit-button:hover{
    background-color: seagreen;  
}
.item-delete-button{
    font-family: 'Material Icons';
    font-size: 30px;
    text-align: center;
    color: white;
    width:40px;
    height:40px;
    border-radius: 30%;
    background-color: tomato;
}
.item-delete-button:hover{
    background-color: crimson;
}
.item-checkbox{
    align-self: center;
}
.item-checkbox:hover{
    transform: scale(1.3);
}
.todo-item-title{
    font-size: 20px;
    font-weight: bold;
}
.todo-item-content{
    font-weight: thin;
    padding-left: 15px;
    color: grey;
}