body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
}
.task-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid;
  border-radius: 40px;
  width: 50%;
  /* height: 100vh; */
}
.to-do-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.to-do-tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border: 1px solid;
  width: 50px;
  height: 70px;
  border-radius: 40px;
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  height: 50px;
}
.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100px;
}
.button-style {
  width: 40px;
  height: 20px;
  text-align: center;
  background-color: green;
}
.add-task-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100px;
  align-self: center;
}
.done-task {
  text-decoration: line-through;
}
